<!DOCTYPE html>
<html>

<head>
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesSecondary.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="login-page">
        <div class="login-wrapper">
            <div class="mainLogin">
                <div class="logo">
                    <img src="/images/logo4.svg" alt="logo">
                    <p class="logo-text">MediConnect</p>
                </div>
                <div class="signup">
                    <form action="/cambiar-contrasena" method="POST">

                        <label style="color: orange; font-size: 1.6em;">Cambia contraseña</label>
                        <p style="margin-top: 10px; font-size: 1rem; text-align: center;">
                            Por motivos de seguridad debe de cambiar la contraseña para poder acceder a su cuenta.
                        </p>
                        <input type="password" name="nuevaContrasena" placeholder="Nueva contraseña" required
                            minlength="8">
                        <button type="submit" class="btn-login">Guardar contraseña</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>© 2025 MediConnect</p>
        </footer>
    </div>
</body>

</html>

<script>
    const params = new URLSearchParams(window.location.search);
    const error = params.get("error");
    const exito = params.get("ok");

    if (error === "vacio") {
        Swal.fire({
            icon: "error",
            title: "La nueva contraseña es requerida",
            width: 500,
            padding: '1.5em',
            confirmButtonText: 'Aceptar',
            confirmButtonColor: '#3085d6',
            customClass: {
                popup: 'swal2-border-radius',
                confirmButton: 'swal2-btn-fix'
            }
        });
    }

    if (exito === "1") {
        Swal.fire({
            icon: "success",
            title: "Contraseña actualizada",
            text: "Ya puedes iniciar sesión con tu nueva contraseña",
            width: 500,
            padding: '1.5em',
            confirmButtonText: 'Ir al login',
            confirmButtonColor: '#3085d6',
            customClass: {
                popup: 'swal2-border-radius',
                confirmButton: 'swal2-btn-fix'
            }
        }).then(() => {
            window.location.href = "/login";
        });
    }
</script>