<div class="content">
    <div class="content__title">
        <h1>Medicamentos</h1>
    </div>

        <div class="table-container">
            <table id="tablaSucursales" class="display compact nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </section>
</div>