<div class="content">
    <div class="content__title">
        <h1>Recetas</h1>
    </div>
    <section class="main__container">
        <div class="container__header">
            <div class="btn-agregar-wrapper">
                <button onclick="abrirModal()" class="btn__agregar-nueva">
                    <i class="fa-solid fa-plus"></i> Agregar receta
                </button>
            </div>
        </div>
        <div class="table-container">
            <table id="tablaMedicamentos" class="display compact nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Doctor</th>
                        <th>Sucursal</th>
                        <th>Fecha entrega</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </section>
</div>
